legend{
  width: 200px;

}
fieldset#marco{
  border: 1px solid black;
}
section{
  padding: 0.5%;
  margin: 0.5%;
}
div {
  margin: .6em 0;
}
div label {
  width:11%;
  float: left;
}
div input:focus{
  outline: inherit;

  /*border:1px solid rgb(137, 12, 168);
  background-color: grey;*/
}

input,select,textarea{
  border-radius: 0.5%;
}

label[for=mensaje]{
  width: 11%;
}

textarea{
    width: 30%;
}

/*#mapa{
  margin-left: 50%;
  margin-top: -21%;
}*/
#submit{
  margin-left: 11%;
}
#mapa {
        position: relative;
        padding-bottom: 25%; // This is the aspect ratio*/
        height: 0;
        overflow: hidden;
        margin-left: 50%;
        margin-top: -24%;

    }
  #mapa iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 40% !important;
        height: 75% !important;
    }
