<<<<<<< HEAD

footer, header{
  border: 1px solid black !important;
  margin: 0.5%;
  width: 99%;
}
.logo img{
  max-width: 10%;
  max-height: 10%;
  float: left;
}



=======

footer, header{
  border: 1px solid black !important;
  margin: 0.5%;
  width: 99%;
}
.logo img{
  max-width: 10%;
  max-height: 10%;
  float: left;
}
>>>>>>> 077fb707ac7f087d96ee61a51d05c72e861811ca

header {
  background: url("images/fondoCabecera.jpg")no-repeat;
  height: 15%;
}

.contenido{
  margin-top: 1%;
  margin-bottom: 1%;
}
.contenido img{
  margin-top: 1%;
}
.buscador{
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
.menu {
position : absolute;
left : 30%;
width : 39%;
height: 7%;
background : url("images/nav_background.png");
margin-bottom: 0;
margin-top: 7%;
}
.menu ul {
margin:auto;
width : 100%;
list-style : none;
}
.menu ul li {
float : left;
}
.menu ul li a {
display : block;
margin-right : 2%;
width : 140px;
font-size : 14px;
line-height : 300%;
text-align : center;
text-decoration : none;
<<<<<<< HEAD
color : #FFFFFF;
=======
color : #ffffff;
>>>>>>> 000f8b08331f25c6328033b873b626aa8a6c0a45
}
.menu ul li a:hover {
color : #fff;
background : url("images/nav_bar2.jpg");
}
.menu ul li.selected a {
color : #fff;
background : url("images/nav_bar2.jpg");
}
 header {
  background: url("images/fondoCabecera.jpg")no-repeat;
  height: 150px;
  width: 100%;
}
.contenedor img{
  width: 35%;
}
 .redes img{
  width: 40px;
  margin-top: 1%;
  margin-left: 5%;
}
.logo img{
  max-width: 10%;
  max-height: 10%;
  float: left;
}
.accesibilidad{
  margin-left: 40%;
}
.accesibilidad img{
  width: 20%;
  margin-top: 1%;
}
.pago img{
  float: right;
  width: 10%;
  margin-right: 5%;
  margin-top: 1%;
}
.logo img{
  max-width: 10%;
  max-height: 10%;
  float: left;
}
.accesibilidad{
  margin-left: 40%;
}
.accesibilidad img{
  width: 20%;
}
.pago img{
  float: right;
  width: 10%;
  margin-right: 10%;
}
