.logo img{
  max-width: 10%;
  max-height: 10%;
  float: left;
}
ul li ul{
  display: none;
}
ul li:hover ul{
  display: block;
}
ul, li{
  list-style: none;

}
ul li ul{
  width: 100%;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  border-right-style: none;
  border-left-style: none;
}
ul li ul li{
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  margin-top: 2.04%;
  margin-bottom: 3.04%;
  width: 80%;
  margin-left: -10.20%;
}
ul li{
  border: 1px solid black;
  text-align: center;
}
ul li:hover{
  background-color: rgba(154, 154, 154, 1);
}
ul li:hover ul{
  background-color: white;
}

.menu ul li:hover {
  background: none;
}
.menu ul li {
float : left;
border: none;
}


.center img {
  height: 200px;
  width: 200px;
}
.center{
  margin-top: 50px;
}
aside{
  margin-top: 100px;
}
h1{
  text-align: center;
}
/*Header and Menu*/
/*.menu {
position : absolute;
left : 20%;
width : 550px;
height: 40px;
background : url("images/nav_background.png");
margin-bottom: 0;
margin-top: 100px;
}
.menu ul {
margin:auto;
width : 940px;
list-style : none;
}
.menu ul li {
float : left;
}
.menu ul li a {
display : block;
margin-right : 20px;
width : 140px;
font-size : 14px;
line-height : 44px;
text-align : center;
text-decoration : none;
color : #ccc;
}
.menu ul li a:hover {
color : #fff;
background : url("images/nav_bar2.jpg");
}
.menu ul li.selected a {
color : #fff;
background : url("images/nav_bar2.jpg");
}*/

/*header {
  background: url("images/fondoCabecera.jpg")no-repeat;
  height: 150px;
  width: 100%;
}
/*Buscador*/
/*.buscador{
  float: right;
  margin-right: 12px;
}
/*Footer*/
/*.redes img{
  width: 40px;
}
.logo img{
  max-width: 10%;
  max-height: 10%;
  float: left;
}
.accesibilidad{
  margin-left: 40%;
}
>>>>>>> 6c252d5541824d265d70ee3b7367d8265ae7abb8
.accesibilidad img{
  width: 20%;
}
.pago img{
  float: right;
  width: 10%;
  margin-right: 10%;
}*/
